html{
  height:100%;
  width:100%;  
  margin: 0;
}
body {
  height:100%;
  width:100%;  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color:black;
  margin:0px;
  padding:0px;
}
triangle-builder{
  position:absolute;
}
h1{
  position:absolute;
}
a {
  color: #00B7FF;
}
canvas{
  display:block;
}
button{
  position:fixed;
}